@media only screen and (max-width: 600px) {
  /* CSS rules for phones */

body{
    background-color: #fff7f3;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px; 
    background-color: transparent; /*transparent */
    height: 40px;  /*Adjust height */
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
  
  }


.nav-btn {
    background-color: #D1C3B7;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 1px 1px 5px #707477;
}

.nav-btn img{
  height: 20px;
  width: 20px;
  max-width: 100%;
    box-sizing: border-box; 
}

.nav-btn:hover {
    background-color: #D9B49C;
}
  
.nav-btn.button-up img{
  transform: rotate(90deg);
  max-width: 100%;
    box-sizing: border-box; 
}

#nav-btn.button-up {

  position: sticky;
  bottom: 20px;
  right: 20px;
 
  z-index: 1000;
}

 /* .container1{
    display: grid;
    grid-template-rows: repeat(4, auto); /* 4 rows, height adjusts to content 
    gap: 10px; /* Adds spacing between items 
    padding: 0; /* Optional padding around the container 
    margin: 0;
    overflow: hidden;
    
  } */


/*      INTRODUCTION    */


  @keyframes shine {
    0% { background-position: -200%; }
    100% { background-position: 200%; }
}

.intro {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 26px;
    margin: 0 15px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease, -webkit-text-stroke 0.3s ease, filter 0.3s ease;
    position: relative;
    display: inline-block;
}

.intro:active {
    color: transparent;
    transform: scale(1.1); /* Slight zoom effect */
    background: linear-gradient(120deg, rgba(255, 0, 150, 0.6), rgba(0, 255, 255, 0.6), rgba(255, 255, 0, 0.6));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine .5s linear infinite;
}

.intro-text{
  width: 85%;
  margin-left: 25px;
  text-align: center;
}

.intro-text p{
  text-align: justify;
}
  /*============================= CONTAINER START ==========================*/

  .container1 div:not(.c1-item1, .c1-item4){
    width: 85%;
    margin-left: 25px;
  }
  

  .container1 {
    display: grid;
    grid-template-rows: repeat(4, auto); /* 4 rows, height adjusts to content */
    gap: 10px; /* Adds spacing between items */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    width: 100vw; /* Full width of the viewport */
    overflow: hidden; /* Prevent scrolling */
  }
  

.container1 img {
    object-fit: cover;
    height: 520px;
    width: 110%;
    border-radius: 65px;
    box-shadow: 2px 5px 15px #707477;
    margin-left: -16px;
    
}

  .topic_title{
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 26px;
    margin: 0 15px;
 
  }

.topic_name{
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
  margin: 0 15px;
  

}


.topic_content{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  text-align: justify;
}

.c1-item4{
  display: flex;
  margin-bottom: 30px;

}

audio {
  width: 85%;
  height: 30px;
  margin: 10px 25px;
  border-radius: 15px;
  box-shadow: 2px 3px 7px #707477;
  transition: box-shadow 0.3s ease-in-out;
}

/* Class to apply when audio is playing */
.audio-playing {
  box-shadow: 2px 3px 7px #f0c91d !important; /* Light blue shadow */
}


/*===   CONTAINER 2   ===*/
.container2 div:not(.c1-item1){
  width: 85%;
  margin-left: 25px;
}


.container2 {
  display: grid;
  grid-template-rows: repeat(4, auto); /* 4 rows, height adjusts to content */
  gap: 10px; /* Adds spacing between items */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent scrolling */
}

.container2 img {
  object-fit: cover;
  height: 520px;
  width: 110%;
  border-radius: 65px;
  box-shadow: 2px 5px 15px #707477;
  margin-left: -16px; 
  
}

.c1-item1.table-title{
    overflow: hidden;
}

.c1-item1.table-title img{
  object-fit: cover;
  height: 520px;
  width: 110%;
  border-radius: 65px;
  box-shadow: 2px 5px 15px #707477;
  margin-left: -16px; 
  
}

/*  LABAN TABLE   */

.laban-table table{
  font-family: "Poppins", serif;
  border-collapse: collapse;
  width: 100%;
}

.laban-table td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.laban-table tr:nth-child(even) {
  background-color: #dddddd;
}

.laban-table{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  text-align: center;
}

.laban-table th{
  text-align: center;
}

/*  TIMELINE TABLE  */

.timeline-table table{
  font-family: "Poppins", serif;
  border-collapse: collapse;
  width: 100%;
}

.timeline-table td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.timeline-table tr:nth-child(even) {
  background-color: #dddddd;
}

.timeline-table{
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 13px;
  text-align: center;
}

.timeline-table td:nth-child(odd){
  width: 50px;
  text-align: center;
}

.timeline-table th{
  border: none;
}



/*========      CONTAINER 3    4th topic   ==============*/
.container3 div{
  width: 85%;
  margin-left: 25px;
}

.container3 {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent scrolling */
}

.container3 p{
  text-align: justify;
}

/*========      CONTAINER 4    5th topic   ==============*/
.container4 div{
  width: 85%;
  margin-left: 25px;
}

.container4 {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent scrolling */
}

.container4 p:not(.intro){
  text-align: justify;
}

.container4 .intro{
  margin-left: 30px;
}

/*========      CONTAINER 5    6th topic   ==============*/
.container5 div{
  width: 85%;
  margin-left: 25px;
}

.container5 {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent scrolling */
}

.container5 p:not(.intro){
  text-align: justify;
}

/*========      CONTAINER 6    7th topic   ==============*/
.container6 div:not(.c1-item1, .c1-item4){
  width: 85%;
  margin-left: 25px;
}

.container6 {
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100vw; /* Full width of the viewport */
  overflow: hidden; /* Prevent scrolling */
}

.container6 p:not(.intro, .Archduke, .Vittorio){
  text-align: justify;
}

.container6 img {
  object-fit: cover;
  height: 520px;
  width: 110%;
  border-radius: 65px;
  box-shadow: 2px 5px 15px #707477;
  margin-left: -16px;
}


 /**************************FOOTER***************************/
    
 .footer {
  overflow: hidden;
  border-top-left-radius: 30px;
  margin-left: 0px;
  margin-top: 50px;
  bottom: -8.5rem;
  width: 100%;
  height: 9rem;
  background-color: #D1C3B7;
  color: white;
  text-align: center;
  font-family: "Poppins", serif;
}

.footer table {
  width: 100%; /* Ensure the footer table spans full width */
  height: 100%; /* Ensure it fills the height of the footer */
  background-color: #D1C3B7; /* Footer-specific background color */
 
}

.footer table th,
.footer table td {
  padding: 8px; /* Space inside the cells */
  text-align: center; /* Center-align text */
  font-size: 12px; /* Footer-specific font size */
  color: #000; /* Footer text color */
  border: none;
  font-family: "Poppins", serif;
  width: 33.33%;
 
}

.footer img {
  height: 100px; /* Specific image size */
  margin: -25px; /* Center or adjust positioning */
}

.contactus {
  display: flex; /* Flex for inline icons */
  margin: 0 .4rem;
  color: #4b4a4a; /* Icon colors */
}

.footer table td:nth-child(1){
  text-align: start;
  font-family: "Poppins", serif;
  padding-right: 0px;
  font-size: larger;
}

.footer table td{
  text-align: end;
  font-family: "Poppins", serif;
  font-size: 9px;
}

.footer table th:nth-child(2),
.footer table td:nth-child(2){
  padding-left: 35px;
}

}